<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="/css/dashboard.css" rel="stylesheet">
  
<style>

</style>
</head>
<body onload="myFunction()">

    <div  >
        <img src="/images/qau1.png" height="100px" width="700px" style="margin-left: 300px">
        
    </div>
    

	<div onload="myFunction()">
			<div class="nav">
				<ul>
				<li class="Dashbord"><a class="active" href="/page/dashbord">Dashbord</a></li>
				<li class="Schorarship"><a  href="/page/scholarships">Schorarship</a></li>
				<li><a   href="/page/transports">Transport</a></li>
				<li class="Dining"><a href="/page/dining">Dining</a></li>
				<li class="Program"><a href="/page/notification">Notification</a></li>
				<li class="Events"><a href="/page/events">Events</a></li>
				<li class="News"><a href="/page/news">News</a></li>
                <li class="News"><a href="/page/admission">Admission</a></li>
				<li class="Logout" style="float:right"><a href="/">Logout</a></li>
				<div class="dropdown">
					<button class="dropbtn">Data View 
					<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					<a href="/page/viewscholarships">Schorarship Data</a>
					<a href="/page/viewstransport">Transport Data</a>
					<a href="/page/viewsdining">Dining Data</a>
					<a href="/page/viewsevent">Events Data</a>
					<a href="/page/viewnews">News Data</a>
	  <a href="/page/viewadmission">Admission Data</a>
	  <a href="/page/viewnotification">Notification Data</a>
					</div>
				</div> 
			  </ul>
			
			</div>

            <div id="container">

  <div id="links">
     <a href="https://www.facebook.com/search/top/?q=qau%20confessions" class="fa fa-facebook urlclass" >&nbsp&nbsp&nbsp&nbsp&nbspFacebook</a>
     <a href="https://twitter.com/login?lang=en" class="fa fa-twitter urlclass1">&nbsp&nbsp&nbsp&nbsp&nbspTwitter</a>
     <a href="https://www.youtube.com/" class="fa fa-youtube urlclass1">&nbsp&nbsp&nbsp&nbsp&nbspYoutube</a>
     <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram urlclass1">&nbsp&nbsp&nbsp&nbsp&nbspInstagram</a>
     <a href="https://login.yahoo.com/config/login?.src=fpctx&.intl=us&.lang=en-US&.done=https%3A%2F%2Fwww.yahoo.com" class="fa fa-yahoo urlclass1" >&nbsp&nbsp&nbsp&nbsp&nbspYahoo</a>
  </div>


  <div id="content">
     <p>
     <h2>   Introduction</h2>
                
               <p class="space"> Quaid-i-Azam University (once named Islamabad University) was established in July 1967
                under the Act of National Assembly and started teaching and research programmes for PhD 
                and MPhil degrees. It was, however, gradually and later decided to offer Master’s, graduate, and
                 now undergraduate programmes. The University, for its international repute, faculty and programmes 
                 attracts a large number of foreign students although it offers admission to a
                measured number of students from all regions of the country as it is a federal public sector university.</p>
            </p>
            <p class="space">
            It has been able to establish its links with some selected universities in Europe, South Asia and the United States. The international educational and research institutions including UNESCO, IRSIP, Agencia Espanole de Cooperacion International (Spain) etc. collaborate their research activities with the Quaid-i-Azam University. Moreover, a reasonable size of the faculty members of the University have been working in the international universities like Oxford, Cambridge,
             Columbia, Heidelberg etc. earning applause and awards such as International Peace Award from Brussels.
            </p>
            <p class="space">
            Currently, the Quaid-i-Azam University has four faculties and nine other teaching and research Institutes, Centre and Schools. Briefly included; Faculty of Biological Sciences, Faculty of Natural Sciences, Faculty of Social Sciences, Faculty of Medicine (affiliated), Area Study Centre for Africa, North and South America, Centre of Excellence in Gender Studies, National Institute of Pakistan Studies, National Institute of Psychology, National Institute of Historical and Cultural Research, National Institute of Asian Civilizations, and the Computer Centre.
            </p>
            <p class="space">For growing educational and technical needs of the country, the University imparts quality education and training on lower strata of life in the field of computer and runs a wide range of short term certificate and diploma courses. In all, the University’s academic programmes, have an enrollment of over 5,500 students.</p>

            <p class="space">
            The University also maintains a high standard in providing services. It has well equipped classrooms, state of the art labs and libraries. Other facilities like hostels for male and female students, sports and play fields, transport, mosque, bank, utility shop, post office, photocopying and thesis/paper binding, telephone, café etc. are centrally located on the Campus.


            </p>
  </div>

  <div id="rightThing" class="slider">
        <section >
				  <img class="mySlides" src="http://noticeboard.pk/wp-content/uploads/2016/12/qau-1.jpg"
				  style="width:100%, height:50%, max-height:fixed">
				  <img class="mySlides" src="http://mw2.google.com/mw-panoramio/photos/medium/1518975.jpg"
				  style="width:100%, height:50%, max-height:fixed">
				  <img class="mySlides" src="http://i.dawn.com/large/2014/12/54963dfac0e3a.jpg"
				  style="width:100%, height:50%, max-height:fixed">
				</section>
    
  </div>

</div>


            
			
            <div class="contents">
           
            </div>
				
			
			
			<div class="footer">
			
			</div>
			
		



	</div>
	
</div>

<!-- Band Description -->

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}
	


</script>
<!-- For Background image -->
<script>
function myFunction() {
    document.body.style.backgroundColor = "#f3f3f3";
    document.body.style.backgroundImage = "url('https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png')";
	  var mydata;
    var userdata;
  $(document).ready(function(){

            $.getJSON("http://localhost:3000/api/scholarship", function(data){
                console.log(data);
                $.each(data, function(i, field){
                  userdata = data;
                   // $("body").append("<th><tr><td>"+field.userID+"</td></th><th><td>"+field.feedback+"</td></th>");
                   $('#myTable').append('<tr><td>'+field.title+'</td><td>'+field.requirement+'</td><td>'+field.description+'</td><td>'+field.date+'</td></tr>');
                     mydata= field.title + field.requirement + field.description + field.date;
                    //  console.log(mydata);
                    });
 
            })
        });

}
</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    var mydata;
    var userdata;
  $(document).ready(function(){

            $.getJSON("http://localhost:3000/api/scholarship", function(data){
                console.log(data);
                $.each(data, function(i, field){
                  userdata = data;
                   // $("body").append("<th><tr><td>"+field.userID+"</td></th><th><td>"+field.feedback+"</td></th>");
                   $('#myTable').append('<tr><td>'+field.title+'</td><td>'+field.requirement+'</td><td>'+field.description+'</td><td>'+field.date+'</td></tr>');
                     mydata= field.title + field.requirement + field.description + field.date;
                    //  console.log(mydata);
                    });
 
            })
        });


  </script>





</script>
<!-- For Background image -->

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".add-row").click(function(){
            var title = $("#title").val();
            var description = $("#description").val();
			var requirnments = $("#requirnments").val();
            var lastdate = $("#lastdate").val();
			var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + title + "</td><td>" + description + "</td></tr>" + requirnments + "</td></tr>" + lastdate + "</td></tr>"; 
        //    var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
            $("table tbody").append(markup);
        });
        
        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
    });    
</script>



<script>
function addRow() {
         
    var title = document.getElementById("title");
    var description = document.getElementById("description");
	var requirnments = document.getElementById("requirnments");
    var lastdate = document.getElementById("lastdate");
    var table = document.getElementById("table");

    var rowCount = table.rows.length;
    var row = table.insertRow(rowCount);

    row.insertCell(0).innerHTML= title.value;
	row.insertCell(1).innerHTML= description.value;
	row.insertCell(2).innerHTML= requirnments.value;
    row.insertCell(3).innerHTML= lastdate.value;
	row.insertCell(4).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';
	row.insertCell(5).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';

}
</script>

<script>
	function addHTMLrow()
	{
		var schtable = document.getElementById("table"),
		newRow = schtable.insertRow(schtable.length),
		cell1 = newRow.insertCell(0),
		cell2 = newRow.insertCell(1),
		cell3 = newRow.insertCell(2),
		cell4 = newRow.insertCell(3),
		cell5 = newRow.insertCell(4),
		cell6 = newRow.insertCell(5),
		
		title = document.getElementById("title").value;
		description = document.getElementById("description").value;
		requirnments = document.getElementById("requirnments").value;
		lastdate = document.getElementById("lastdate").value;
		var button1 = document.createElement("button");
		button1.innerHTML = "Update";
		var button2 = document.createElement("button");
		button2.innerHTML = "Delete";
		
		cell1.innerHTML = title;
		cell1.innerHTML = description;
		cell1.innerHTML = requirnments;
		cell1.innerHTML = lastdate;
		
	}

</script>


</body>
</html>

