<!DOCTYPE html>
<html>
<head>
	<link href="/css/events.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--For clander -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body onload="myFunction()">
<div>
	 <div  >
        <img src="/images/qau1.png" height="100px" width="700px" style="margin-left: 300px">
        
    </div>
	<div onload="myFunction()">
			<div class="nav">
				<ul>
				<li class="home"><a href="/page/dashbord">Dashbord</a></li>
				<li class="Schorarship"><a  href="/page/scholarships">Schorarship</a></li>
				<li  class="Transport"><a href="/page/transports">Transports</a></li>
				<li class="news"><a href="/page/dining">Dining</a></li>
				<li class="contact"><a href="/page/notification">Notification</a></li>
				<li class="contact"><a class="active" href="/page/events">Events</a></li>
				<li class="contact"><a href="/page/news">News</a></li>
				<li class="News"><a href="/page/admission">Admission</a></li>
				<li class="contact" style="float:right"><a href="/">Logout</a></li>
				<div class="dropdown">
					<button class="dropbtn">Data View 
					<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					<a href="/page/viewscholarships">Schorarship Data</a>
					<a href="/page/viewstransport">Transport Data</a>
					<a href="/page/viewsdining">Dining Data</a>
					<a href="/page/viewsevent">Events Data</a>
					<a href="/page/viewnews">News Data</a>
	  <a href="/page/viewadmission">Admission Data</a>
	  <a href="/page/viewnotification">Notification Data</a>
					</div>
				</div> 
			  </ul>
			
			</div>
			<div class="form">
				<h2 style="margin-left:450px">Events detail Form </h2>



			
				<form  method="post" enctype="multipart/form-data" type="submit" action="/api/events/add" id="myForm>
					<label for="title" style="margin-left:30px; margin-top:50px">Tilte</label>
					<textarea class="dataedit" name="title" type="text" id="title" rows="2" cols="150" required placeholder="Tilte of News...." style="margin-left:30px;margin-top:10px;margin-bottom:10px"></textarea>
					
					<!-- Band Description
					<input type="text" id="fname" name="firstname" placeholder="Your name.."> -->

					<label for="subtitle" style="margin-left:30px; margin-top:50px; padding-top:50px">Subtitle</label>
					<textarea class="dataedit" name="subtitle" type="text" id="subtitle" rows="3" cols="150" required placeholder="Subtitle of News...." style="margin-left:30px;margin-top:10px;margin-bottom:10px"></textarea>
				<!--	<input class="dataedit" name="description" type="text" id="description"  placeholder="Description of Schorarship...." style="margin-left:30px;margin-top:10px;margin-bottom:10px;height:50px;width:500px"></input>-->
					
					
					<label for="description" style="margin-left:30px;margin-top:30px">Description</label>
					<textarea class="dataedit" name="description" type="text" id="description" rows="5" cols="150" required placeholder="Description of News...." style="margin-left:30px;margin-top:10px;margin-bottom:15px"></textarea>

					<div class="col-25">
						<label for="color" style="margin-left:30px; margin-top:50px; padding-top:50px">Image</label>
					  </div>

					   <div class="col-75">
						<input type=file name="userFile"  id="userFile" required="required" style="margin-left:30px;margin-top:10px;margin-bottom:15px">
					  </div>

							
					<label  style="margin-left:35%; margin-top:50px">Event Date: </label>
					 <!-- <input id="datepicker" name="date" required id="date" required /> -->
					 <input id="datepicker" name="date"  id="date" required  placeholder='Select date' />
					
					<button type="submit"  class="button button1" value="Add Row" style="margin-top:30px">Submit</button>
					
			
			
			
		   
				</form>  
			
			</div>
				
			
			
		



	</div>
	
</div>

<!-- For calander  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- load jQuery UI CSS theme -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
		$('#datepicker').datepicker({ minDate: 0 });
  </script>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}
	


</script>

<!-- For Background image -->
<script>
function myFunction() {
    document.body.style.backgroundColor = "#f3f3f3";
    document.body.style.backgroundImage = "url('https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png')";
}
</script>
<script>

function message() {
    alert("Data is submit successfully!");
}
function validateForm() {
    var x = document.forms["myForm"]["name"].value;
    var y = document.forms["myForm"]["fname"].value;
    if (x == "") {
        alert("Hurt name must be filled out");
        return false;
    }
    else if( y == ""){
       alert("Menu must be filled out");
        return false;
    }
    else{
      alert("Data is submit successfully!");
      return true;
    }
</script>


<script>
$("#myForm").submit(function(e) {
	e.preventDefault();
	var name = $("#name").val();
	var menu = $("#menu").val();
  
  

	
	if(name == "" || menu == "" ) {
		$("#error_message").show().html("All Fields are Required");
	} else {
		$("#error_message").html("").hide();
		$.ajax({
			type: "POST",
			url: "/api/dining/add",
			data: "name="+name+"&menu="+menu,
			success: function(data){
				$('#success_message').fadeIn().html(data);
				setTimeout(function() {
					$('#success_message').fadeOut("slow");
				}, 2000 );

			}
		});
	}
})
}
</script>	


</body>
</html>